.header {
  background-image: linear-gradient(to bottom, black, lightgray);
}

.fecha {
  width: auto;
  height: 2.5rem;
  color: white;
}

.logo {
  height: 5.5rem;
}

.imgLogo {
  height: 80px;
}

.menu {
  background-color: rgba(0, 0, 0, 0.568);
  list-style: none;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  padding: 20px;
  display: block;
  color: white;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.contactanos {
  float: right;
}

.menu li a:hover {
  background-color: gray;
}

.noticias_destacadas {
  margin-top: -16px;
  width: 100%;
  height: 3rem;
  text-align: center;
}

.ultimas_noticias {
  width: 18%;
  height: 3rem;
  float: left;
  background-color: lightgray;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
}

.circulo_directo {
  width: 10px;
  float: left;
  padding-top: 19px;
  padding-left: 30px;
}

.circulo_directo:hover:after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.ultimas_noticias2 {
  width: 82%;
  height: 3rem;
  float: right;
  overflow: hidden;
}

.ultimas_noticias2 ul {
  display: flex;
  width: 200%;
  animation: noticias 30s infinite;
}

.ultimas_noticias2 li {
  width: 30rem;
  list-style: none;
}

@keyframes noticias {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -170%;
  }
}
